
server:
  port: 8085

spring:
  application:
    name: carritoApp
  datasource:
    url: jdbc:postgresql://localhost:5432/bd_carrito_compras
    username: carrito_compra
    password: CarritoCompra*
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true